* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6c1dd;
}

.calculator {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: right;
    color: #520346;
    background-color: #f9f9f9;
}

.active {
    color: #7444ee;
    z-index: 10;
}

input::placeholder {
    color: #aaa;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    font-size: 1.5em;
    background-color: #eaeaea;
    color: #5d053a;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover{
background-color: #ddd;
}

.equal {
    background-color: #a5dbe5;
    color: #fff;
}

.equal:hover {
    background-color: #518abc;
}

.del {
    background-color: #f43669;
    color: #fff;
}

.del:hover {
    background-color: #e53581;
}
